{{!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    
  </header>

  <div class="container">
    <h1>Welcome to the Banking Website</h1>
    <p>This is the home page content.</p>
  </div>
</body>

</html> --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Navbar Example</title>
</head>

<style>
        /* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Home page styles */
h1 {
  text-align: center;
  margin-top: 40px;
}

p {
  text-align: left;
}
img{
  width: 100%;
  height: 325px;
}

    </style>

<body>
  <header>
    {{>navbar}}
  </header>

  <div class="container">
    <h1>Welcome to the Website</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet exercitationem et alias suscipit earum minima soluta, blanditiis iste atque placeat! Dolore eaque nemo, itaque aliquid sed inventore, hic debitis pariatur sit quibusdam, sunt eveniet? Veritatis odit in accusantium dolore temporibus dolor sint voluptate, est nam ut quidem, expedita quos deserunt facere, eos quisquam ipsum adipisci. Debitis quidem quas quaerat beatae dignissimos iusto eos consectetur ipsum rem dolores vel porro voluptatum voluptas sapiente, voluptates cum. Omnis, quisquam mollitia eaque beatae architecto accusamus, similique consequuntur iure recusandae maxime est? Blanditiis animi, laudantium magni culpa, aliquam inventore, aspernatur ea ratione ut totam veniam.</p>
    <img src="https://images.moneycontrol.com/static-mcnews/2022/02/digital-banking_pic-1.jpg" alt="image">
  </div>
</body>

</html>

