<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>header Example</title>
</head>

<style>
        /* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header and header styles */
header {
  background-color: #007bff;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: center;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header li {
  display: inline-block;
  margin-right: 10px;
}

.header li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid transparent;
}

.header li a:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

</style>

<body>
  <header>
    <nav>
      <div class="header">
        <ul>
            <li><a href="/">Go back to Home</a></li>
        </ul>
      </div>
    </nav>
  </header>

</body>

</html>
