<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Navbar Example</title>
</head>

<style>
        /* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header and Navbar styles */
header {
  background-color: #007bff;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid transparent;
}

.navbar li a:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

</style>

<body>
  <header>
    <nav>
      <div class="navbar">
        <ul>
          <li><a href="register">Register</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </nav>
  </header>

</body>

</html>
